body {
    zoom: 90% !important;
}

#logo_header_mobile {
    max-width: 190px;
}

.wg-table.table-all-user>* {
    min-width: 1260px;
}

.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;

    .page-link {
        padding: 1.1rem;
        font-size: 16px;
    }
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

.table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    width: 250px;
    padding-bottom: 18px;
}

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}
.wg-table.table-all-user>* {
    min-width: 1260px;
}

/*------*/
.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;

    .page-link {
        padding: 1.1rem;
        font-size: 16px;
    }
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

.table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    width: 250px;
    padding-bottom: 18px;
}

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}

#upload-file.highlight {
    border: 2px dashed #2196f3;
    background: rgba(33,150,243,0.1);
}

.custom-alert {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    font-size: 1.25rem; /* fs-4 */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* shadow */
}

.custom-alert .btn-close {
    /* opsional: styling tombol close kalau mau diubah */
}

/* galery img upload */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px; /* jarak antar item */
    align-items: flex-start;
}

.gallery-container .gallery-item {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    flex-shrink: 0;
}

.gallery-container .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-upload {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0;
}

.gallery-upload input[type="file"] {
    display: none;
}

.gallery-upload .icon {
    font-size: 24px;
    margin-bottom: 8px;
    color: #007bff;
}

.gallery-upload:hover {
    border-color: #007bff;
    background-color: #f4f8ff;
}
